/* Teste de comentario para ser removido na minificacao */
.forceDisplay {
    display: inline !important;
}

/* autoprefixer test */
.autoprefixer-test {
    display: flex;
    transition: all .5s;
    user-select: none;
    background: linear-gradient(to bottom, white, black);
}